.contact-form {
    max-width: 800px;
    margin: 1rem auto; /* Top/bottom + auto centering */
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    /* text-align: left; Ensures contents don’t align right */
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.85rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.7rem;
  }

  textarea.form-control {
    height: 150px; /* or any height you prefer */
    resize: vertical; /* allows the user to resize it vertically only */
  }
  
  
  .submit-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #3578ca;
  }
 
